{% extends "base.html" %}

{% block head_content %}
    <title>gnstagram</title>
{% endblock %}
<!DOCTYPE html>
{% block container %}
    <div class="container">
        <div class="row">
            {% include "posts/post_card.html" %}
        </div>
        <div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0"></div>
        <!-- TODO: Testing -->
        <div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0">
            <form action="{% url 'comments:create_comment' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include "comments/comment_card.html" %}
                <button type="submit" class="btn btn-primary btn-block mt-5">Send Comment</button>
            </form>
        </div>
        <!-- TODO: End Testing -->
    </div>
{% endblock %}