{% load cloudinary %}
<div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
    <div class="media pt-3 pl-3 pb-1 ml-4" style="padding-left: 1rem">
        <div class="d-inline">
            <a href="{% url 'users:detail' post.user.username %}">
                <img 
                    src="{{ post.user.picture.url }}"
                    alt="{{ post.user.get_full_name }}" 
                    class="mr-3 rounded-circle" 
                    height="35"
                    width="35"
                    style="object-fit: cover;"
                >
            </a>
        </div>
        <div class="d-inline media-body">
            <a href="{% url 'users:detail' post.user %}" style='color: inherit; text-decoration: none;'>
                <p class="d-inline-block" style="margin-top: 5px; ">{{ post.user.get_full_name }}</p>
            </a>
        </div>
    </div>

    <a href="{% url 'posts:detail' post.pk %}">
        <img src="{{ post.photo.url }}" alt="{{ post.title }}" style="width: 100%;">
    </a>

    <p class="mt-1 ml-2" style="margin-left: 1rem;">
        <a href="" style="color: #000; font-size: 20px">
            <i class="far fa-heart pl-2 pt-2"></i>
        </a> Like
    </p>

    <p class="ml-2 mt-0 mb-2" style="margin-left: 1rem;" >
        <b>{{ post.title }}</b> - <small>{{ post.created }}</small>
    </p>
</div>

