html, body {
    background: #fafafa;
    height: 100%;
    width: 100%;
}

#auth-container {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
}

#main-navbar {
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

.post-container {
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}

.nav-icon a {
    color: #262626;
    font-size: 1.3em;
    display: block;
    margin-top: .2em;
    margin-left: 1.2em;
    font-weight: 100;
}
.nav-icon a:hover {
    color: #1d5e72;;
}
#profile-box {
    background: #fff;
    border: 1px solid rgba(0,0,0,.0975);
    border-radius: 1px;
    margin-top: 6em;
}

#user-posts #post-thumb {
    background: #fff;
}

.edit-profile-detail-container {
}

.user-detail-div {
    margin-top: auto!important;
    margin-bottom: auto!important;
    float: none;
}

.edit-profile-username {
    display: flex;
    justify-content: center;
}

.detail-profile-flex-item {
    display: inline;
    width: auto;
    
}

.detail-profile-btns {
    width: auto;        
}

.detail-user-first-name {
    width: 49%
}

.detail-user-last-name {
    width: 50%
}

@media (max-width: 1200px) {
    .detail-user-first-name {
        width: 49%;
    }

    .detail-user-last-name {
        width: 49.5%;
    }
}

@media (max-width: 768px) {
    .detail-user-first-name {
        width: 48%;
    }

    .detail-user-last-name {
        width: 48%;
    }
}

@media (max-width: 576px) {
    .col-sm-8-center-item {
        display: flex;
        justify-content: center;
    }

    .detail-profile-flex-item {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    .edit-profile-picture {
        flex: 0 0 auto;
        width: 20%;
        margin-left: 1.4rem;
        margin-right: 0.4rem;
    }
    
    .edit-profile-username {
        flex: 0 0 auto;
        width: 100%;
        display: block;
    }

    .user-detail-div {
        margin-top: auto!important;
        margin-bottom: auto!important;
        float: none;
    }

    .edit-profile-detail-container {
        flex: 0 0 auto;
        display: flex!important;
        width: 66.6666666667%;
    }
}