{# Profile picture field #}
<div class="media">
    <div class="media-body">
        <p class="ml-4">
            <input class="form-control" type="file" name="picture" placeholder="picture" id="file-upload">
        </p>
    </div>
</div>
{% if not user.picture %}
    {% for error in form.picture.errors%}
        <div class="alert alert-danger">
            <b>Picture: </b>{{ error }}
        </div>
    {% endfor %}
{% endif %}
<hr>

{# Website field #}
<div class="form-group">
    <label>Website</label>
    <input
        type="url" 
        name="website" 
        placeholder="Website" 
        value="{% if form.errors %}{{ form.website.value}}{% else %}{{ user.website }}{% endif %}"
        class="form-control {% if form.website.errors %}is-invalid{% endif %}"
    >
    <div class="invalid-feedback">
        {% for error in form.website.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<br>

{# Biography field #}
<div class="form-group">
    <label>Biographyx</label>
    <textarea
        name="biography" 
        class="form-control {% if form.biography.errors %}is-invalid{% endif %}">{% if form.errors %}{{ form.biography.value}}{% else %}{{ user.biography }}{% endif %}</textarea>

    <div class="invalid-feedback">
        {% for error in form.biography.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>
<br>

{# Phone number field #}
<div class="form-group">
    <label>Phone number</label>
    <input
        type="text" 
        name="phone_number" 
        placeholder="Phone number" 
        value="{% if form.errors %}{{ form.phone_number.value}}{% else %}{{ user.phone_number }}{% endif %}" 
        class="form-control {% if form.phone_number.errors %}is-invalid{% endif %}"
    >
    <div class="invalid-feedback">
        {% for error in form.phone_number.errors %}
            {{ error }}
        {% endfor %}
    </div>
</div>