{% extends "base.html" %}

{% block head_content %}
<title>@{{ request.user.username }} | Update profile</title>
{% endblock %}

{% block container %}
<div class="container">
    <div class="row justify-content-md-center" style="justify-content: center!important;">
        <div class="col-sm-6 p-4" id="profile-box">
            <form action="{% url 'users:update' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="media">
                    {% load static %}
                    {% if profile.picture %}
                        <img 
                            src="{{ profile.picture.url }}" 
                            class="rounded-circle" 
                            height="50"
                            width="50"
                            style="object-fit: cover;"
                        >
                    {% else %}
                        <img src="{% static 'img/default-profile.png' %}" class="rounded-circle" height="50">
                    {% endif %}
                    

                    <div class="media-body">
                        <h5 class="ml-4">@{{ user.username }} | {{ user.get_full_name }}</h5>
                        <p class="ml-4">
                            
                        </p>
                        <label for="file-upload" style="
                        border: 1px solid #ccc;
                        display: inline-block;
                        padding: 6px 12px;
                        cursor: pointer;">
                            <i class="fa fa-cloud"></i> Picture
                        </label>
                        <input type="file" name="picture" id="file-upload" style="display: none;">

                    </div>
                </div>

                {% if not profile.picture %}
                    {% for error in form.picture.errors%}
                        <div class="alert alert-danger">
                            <b>Picture: </b>{{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
                <hr><br>

                {# Website field #}
                {{ form.biography.errors }}
                <div class="form-group">
                    <label>Website</label>
                    <input
                        type="url" 
                        name="website" 
                        placeholder="Website" 
                        value="{% if form.errors %}{{ form.website.value}}{% else %}{{ profile.website }}{% endif %}"
                        class="form-control {% if form.website.errors %}is-invalid{% endif %}"
                    >
                    <div class="invalid-feedback">
                        {% for error in form.website.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>
                
                {# Biography field #}
                <div class="form-group">
                    <label>Biography</label>
                    <textarea
                        name="biography" 
                        class="form-control {% if form.biography.errors %}is-invalid{% endif %}">{% if form.errors %}{{ form.biography.value}}{% else %}{{ profile.biography }}{% endif %}</textarea>

                    <div class="invalid-feedback">
                        {% for error in form.biography.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                {# Phone number field #}
                <div class="form-group">
                    <label>Phone number</label>
                    <input
                        type="text" 
                        name="phone_number" 
                        placeholder="Phone number" 
                        value="{% if form.errors %}{{ form.phone_number.value}}{% else %}{{ profile.phone_number }}{% endif %}" 
                        class="form-control {% if form.phone_number.errors %}is-invalid{% endif %}"
                    >
                    <div class="invalid-feedback">
                        {% for error in form.phone_number.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-5">Update info</button>
            </form>

            
        </div>
    </div>
</div>
{% endblock %}

